/* PRESENTATION */


/* INDEX */

#block {
    margin-top: 30pt;
    height: 300pt;
  
    
}
img {
    margin-left: 50%;
    margin-top: 7pt;
    width: 157%;
    box-shadow: 30pt
  
    
    
}
#P1 {
    color: beige;
    font-family: 'Raleway', sans-serif;
}
#P2 {
    color: rgb(250, 216, 166);
    font-family: 'Raleway', sans-serif;
    
    
}
#P2:hover {
    background: beige;
    color: black
}
body {
    background: lightgrey;
    
}
#Me {
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
    margin-left: 63.5%;
    /* font-weight: bold; */
    color: rgb(70, 69, 69);
    /* text-decoration: underline */
    padding: 7pt
}

#info {
    margin-top: 30pt;
    text-align: center;
    margin: auto;
    margin-top: 2.5%
}
p {
    font-family: 'Raleway', sans-serif;
}
#footer {
    margin-top: 205pt;
    color: rgb(250, 216, 166);
    

}
/* Portfolio */

#imgP {
    width: 300px;
    opacity: 0.7;

}

#imgP:hover {
    opacity: 1;
}
#projects {
    margin-right: 30%;
    margin-top: 3%

}
#vr {
    float: left;
    position: relative;
}
#Ipad {
    float: left;
    position: relative;
}
#gadget {
    float: left;
    position: relative;
}
#tech {
    float: left;
    position: relative;
}
#nod {
    float: left;
    position: relative;
}
#contenido1 {
    position: relative;
    top: 60%;
    left: 97%;
    transform: translate(-50%, -50%);
    background: #4aaaa5;
    color: white;
    width: 200px;
    height: 42px;
    text-align: center
}
#contenido2 {
    position: absolute;
    top: 39%;
    right: -59%;
    transform: translate(-50%, -50%);
    background: #4aaaa5;
    color: white;
    width: 200px;
    height: 40px;
    text-align: center;
}
#contenido3 {
    position: absolute;
    top: 85%;
    left: 97%;
    transform: translate(-50%, -50%);
    background: #4aaaa5;
    color: white;
    width: 200px;
    height: 42px;
    text-align: center
}
#contenido4 {
    position: absolute;
    top: 61%;
    left: 93%;
    transform: translate(-50%, -50%);
    background: #4aaaa5;
    color: white;
    width: 200px;
    height: 42px;
    text-align: center
}
#contenido5 {
    position: absolute;
    top: 48%;
    left: 108%;
    transform: translate(-50%, -50%);
    background: #4aaaa5;
    color: white;
    width: 200px;
    height: 42px;
    text-align: center
}
#row2 {
    margin-top: 55pt
}
#footer {
    margin-top: 204pt;
    color: rgb(250, 216, 166);
    

}
#footer2 {
    margin-top: 112pt;
    color: rgb(250, 216, 166);
}

/* contactform */

#contactform {
    margin-top: 6%;
    background-color: gray;
    padding: 2%;
    border-radius: 15pt
}
#contacthead {
    margin-bottom: 3%;
    margin-left: 1.1%;
    color: rgb(250, 216, 166);
}
#imputhead {
    color: beige
}
#emailHelp {
    color: beige
}
#submitbu {
    margin-top: 2%;
    background-color:  rgb(250, 216, 166);
    color: gray;
    border-radius: 15pt;
    transition-duration: 0.3s
}
#submitbu:hover {
    background-color: beige
}
#nameform {
    margin-bottom: 2%;
}
#footer3 {
    margin-top: 7.5%;
    color: beige
}

.infoFormat {
    position: relative;
    left: 49%;
    width: 227pt;
    
}

.card1 {
    position: relative;
    left: 45%;
    width: 350px;
}

.card2 {
    position: relative;
    left: 42%;
    width: 350px;
}
.card {
    position: relative;
    bottom: 3%;
    left: 47%;
    width: 320px;
}
.card4 {
    position: relative;
    left: 42%;
    width: 350px;

}
.card5 {
    position: relative;
    left: 60%;
    width: 350px;

}
.harryinfo {
    position: relative;
    right: 48.5%;
}
.toyinfo {
    position: relative;
    right: 50%;
}
.gifinfo {
    position: relative;
    right: 46%;
}
p {
    font-size: 17px;
    text-align: center;
    line-height: 115%;
}
.youtufy {
    position: relative;
    left: 15%;
}



/* .harrypotter {
    width: 120% !important;
}
.trivia {
    width: 120% !important;
    position: relative;
    left: 28%;
}
