/* PRESENTATION */
#img2 {
    width: 250px;
    /* border-radius:150px; */
}
h1 {
    color: rgb(252, 190, 98);
    font-family: 'Raleway', sans-serif;
    margin-top: 26px;
    margin-left: 166px;
    background: rgb(99, 17, 175);
    border-radius: 10%;
    font-style: bold
    

}
a {
    margin-left: 550pt;
    margin-bottom: -50pt;
    color: rgb(252, 190, 98);
    font-size: 40pt;

}

a:hover {
    color: rgb(248, 194, 112);
    font-size: 45pt
}


/* INDEX */

#block {
    margin-top: 30pt;
    height: 300pt;
  
    
}
#imgP {
    margin-left: 50%;
    margin-top: 7pt;
    width: 157%;
    box-shadow: 30pt
  
    
    
}
#P1 {
    color: beige;
    font-family: 'Raleway', sans-serif;
}

#P2 {
    color: rgb(250, 216, 166);
    font-family: 'Raleway', sans-serif;
    
}
#P2:hover {
    background: beige;
    color: black
}
body {
    background: lightgrey;
    
}
#Me {
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
    margin-left: 63.5%;
    /* font-weight: bold; */
    color: rgb(70, 69, 69);
    /* text-decoration: underline */
    padding: 7pt
}

#info {
    margin-top: 30pt;
    text-align: center;
    margin: auto;
    margin-top: 2.5%
}
p {
    font-family: 'Raleway', sans-serif;
}
#footer {
    margin-top: 205pt;
    color: rgb(250, 216, 166);
    

}


